body{
    /* border: 2px solid red; */
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: white;
}

h1{
    font-size: 64px;
}

h2{
    font-size: 32px;
    color: #db4bc3;;
}

p{
    color: #a5a7ad;
}

/* STYLES FOR HEADER STARTS. */
.site-header{
    /* border: 3px solid black; */

    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
}

nav{
    background-color: black !important;
}

.site-logo img{
    width: 60px;
    height: 60px;
}

.site-logo{
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.navigation-links{
    margin-right: 20px;
}

.nav-item a{
    margin: 0 10px;
    text-decoration: none;
    color: #e337e9;
}

.nav-item a:hover{
    color: white;
}
  
/* STYLES FOR HEADER ENDS. */

/* STYLES FOR MAIN SITE CONTENT STARTS. */
.site-content{
    /* border: 3px solid mediumturquoise; */
}

.site-banner{
    /* border: 3px solid black; */

    height: 100vh;
    display: flex;
    background-image: url("../img/moon.png");
    background-position: bottom center;
    background-color: black;
    justify-content: center;
}

.site-heading{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.site-heading h1{
    font-weight: bold;
    margin-top: 2rem;
}

.rocket-img{
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.astronaut-img{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

/* .astronaut-img img{
    width: 250ox;
    height: ;
} */

.rocket-img img{
    width: 250px;
    height: 250px;
}
/* STYLES FOR MAIN SITE CONTENT ENDS. */

/* STYLES FOR PLAY GAMES ANYTIME STARTS. */
.play-games-anytime{
    /* border: 3px solid orange; */

    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-color: #e337e9;
    border-bottom-color: #e337e9;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 0;
    border-right-width: 0;
    border-style: solid;
    background-color: #1d1f21;
}

.play-games-anytime-info h2 {
   color: #db4bc3;
   text-align: center;
}

/* STYLES FOR PLAY GAMES ANYTIME ENDS. */

/* STYLES FOR ABOUT THE GAME ROCKET STARTS. */
.about-the-game-rocket{
    /* border: 3px solid black; */

    
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    border-bottom-color: #e337e9;
    border-top-width: 0;
    border-bottom-width: 1px;
    border-left-width: 0;
    border-right-width: 0;
    border-style: solid;
    background-color: black;
}

.about-img img{
    width: 324px;
    height: 380px;
}

/* .about-img{
    margin: 0 20px;
} */

.about-the-game-rocket-info{
    flex-direction: column;
    text-align: center;
}

.about-the-game-rocket-info p{
    margin: 0 20px;
}
/* STYLES FOR ABOUT THE GAME ROCKET ENDS. */

/* STYLES FOR OUR GAMES STARTS. */
.our-games{
    /* border: 3px solid yellow; */
}

.our-games-heading{
    /* border: 3px solid black; */
    height: 100vh;
    text-align: center;
    line-height: 100vh;
    border-bottom-color: #e337e9;
    border-top-width: 0;
    border-bottom-width: 1px;
    border-left-width: 0;
    border-right-width: 0;
    border-style: solid;
    background-color: #1d1f21;
}

.our-games-heading h2{
    font-size: 64px;
    margin-top: 0;
}

.games{
    /* border: 3px solid orange; */
}

.flappy-bird,.sudoku,.the-simon-game{
    /* border: 3px solid black; */

    display: flex;
    /* height: 100vh; */
    align-items: center;
    padding: 5rem 0;
}

.flappy-bird{
    border-bottom-color: #e337e9;
    border-top-width: 0;
    border-bottom-width: 1px;
    border-left-width: 0;
    border-right-width: 0;
    border-style: solid;
    background-color: black;
}

.sudoku{
    border-bottom-color: #e337e9;
    border-top-width: 0;
    border-bottom-width: 1px;
    border-left-width: 0;
    border-right-width: 0;
    border-style: solid;
    background-color: #1d1f21;
}

.the-simon-game{
    border-bottom-color: #e337e9;
    border-top-width: 0;
    border-bottom-width: 1px;
    border-left-width: 0;
    border-right-width: 0;
    border-style: solid;
    background-color: black;
}

.flappy-bird-info,.sudoku-info,.the-simon-game-info{
    text-align: center;
    margin-top: 3rem;
}

.the-simon-game-thumbnail img{
    width: 270px;
    height: 270px;
}


/* .flappy-bird-thumbnail,.sudoku-thumbnail{
    margin: 0 20px;
}

.flappy-bird-info,.sudoku-info{
    margin: 0 100px;
}

.flappy-bird-thumbnail img {
    border-radius: 5px;
} */

.play-game-button{
    border: 2px solid #db4bc3;;

    height: 50px;
    width: 100px;
    text-align: center;
    font-size: 20px;
    line-height: 50px;
    border-radius: 5px;
    margin: 0 auto;
}

.play-game-button a{
    text-decoration: none;
    color: #db4bc3;
}
/* STYLES FOR OUR GAMES ENDS. */

/* STYLES FOR ABOUT OUR GAMES STARTS. */
.about-our-games{
    /* border: 3px solid black; */

    display: flex;
    align-items: center;
    height: 100vh;
    border-bottom-color: #e337e9;
    border-top-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-style: solid;
    background-color: black;
}

.about-our-games-info{
    margin: 0 2rem;
    text-align: center;
}
/* STYLES FOR ABOUT OUR GAMES ENDS. */

/* STYLES FOR FEEDBACK STARTS. */
.feedback-section{
    /* border: 3px solid yellow; */
    height: 100px;
    text-align: center;
    line-height: 100px;
    border-bottom-color: #e337e9;
    border-top-width: 0;
    border-bottom-width: 1px;
    border-left-width: 0;
    border-right-width: 0;
    border-style: solid;
    background-color: black;
}

.feedback-button a{
    text-decoration: none;
    border: 2px solid #db4bc3;
    padding: 10px 20px;
    border-radius: 5px;
    color: #db4bc3;
}
/* STYLES FOR FEEDBACK ENDS. */

/* STYLES FOR FOOTER STARTS. */
.site-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px 0;
    border-bottom-color: #e337e9;
    border-top-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-style: solid;
    background-color: #1d1f21;
}

.site-footer-logo img{
    width: 70px;
    height: 70px;
}

.site-footer-info{
    margin-left: 20px;
}

.site-footer-logo{
    margin-right: 20px;
}
.site-footer-heading h1{
    margin-bottom: 0;
}


/* STYLES FOR FOOTER ENDS. */
@media (max-width:370px) {
    .site-footer{
        flex-direction: column;
    }

    .astronaut-img img{
        width: 10rem;
        height: 10rem;
    }

    .about-img img,.flappy-bird-thumbnail img,.sudoku-thumbnail img,.the-simon-game-thumbnail img{
        width: 250px;
        height: 250px;
    }
}